[submodule "third-party/Catch"]
	path = third-party/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "third-party/Empirical"]
	path = third-party/Empirical
	url = https://github.com/devosoft/Empirical
[submodule "third-party/SPSCQueue"]
	path = third-party/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue
